################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/lab5/.vs/lab5/v15/Browse.VC.db
/lab5/.vs/lab5/v15/Browse.VC.opendb
/lab5/.vs/lab5/v15/ipch/9db0d68aa6451d4f.ipch
